body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    text-align: center;
    
}

header {
    background-color: lightpink;
    color: black;
    padding: 20px;
}

.image-container img {
    width: 300px;
    height: 300px;
    border-radius: 15%;
    margin-top: 20px;
}

section {
    padding: 30px;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-text {
    max-width: 700px;
}

footer {
    background-color: lightpink;
    color: black;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}